body {
  background-color: #d3d3d3;
  font-family: "Montserrat", sans-serif;
}

#nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navibar {
  list-style-type: none;
  background-color: #00cc99;
  display: flex;
  padding: 20px 10px 20px;
  margin-bottom: 0px;
}

.navi {
  display: inline-block;
  font-size: 18pt;
  overflow: hidden;
  display: stretch;
}

.sep {
  color: #ffffff;
  padding: 0px 10px 0 10px;
  user-select: none;
}

a, a:link, a:visited {
  color: #ffffff;
  padding: 30px 10px 30px 10px;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #008060;
}
a:active {
  background-color: #004d39;
}

.container-fluid {
  padding: 0px;
}

#my-photo {
  display: block;
  max-width:150px;
  max-height:300px;
  width: auto;
  height: auto;
  border-radius: 15px;
  margin: 20px auto 20px auto;
}

.about-me {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-top: 74px;
}

.about-text {
  align-self: center;
  padding: 0 20px 15px 0px;
  font-family: "Montserrat", sans-serif;
}

.rule {
  display: block;
  font-size: 110px;
  color: #00cc99;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
}

.portf-header {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  padding-left: 6.5%;
  border-bottom: 4px solid silver;
  line-height: 0.1em;
  margin: 40px 10px 25px 10px ;
}

p span {
  padding: 0 10px;
  background: #f2f2f2;
}

.container {
  background: #f2f2f2;
  padding-bottom: 90px;
}

a.nostyle, a.nostyle:link, a.nostyle:visited, a.nostyle:hover, a.nostyle:active {
  background-color: transparent;
  color: auto;
}

.caption {
  text-align: center;
}

.again {
  margin-top: 70px;
}

.contact {
  text-align: center;
}

.icon {
  display: inline-block;
}

.icon:hover {
  background-color: #00cc99;
}

.icon:active {
  background-color: gray;
}

#icon-box {
  background: #d3d3d3;
  display: inline-block;
}

#email-link {
  display: inline-block;
  margin-top: 40px;
  color: black;
  font-size: 20px;
  background: #d3d3d3;
}

#email-link:hover {
  background: #00cc99;
}

#email-link:active {
  background: grey;
}

.anchor {
  display: block;
  top: -10px;
  visibility: hidden;
  position: relative;
}
