body {
  margin: 0;
}

.container {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #0c9;
  width: 100%;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar-btn {
  display: inline-block;
  font-size: 1.5em;
  padding: 5px 15px;
}

.navbar-link, .navbar-link:visited {
  text-decoration: none;
  color: #fff;
}
