body, h2 {
  margin: 0;
  overflow-x: hidden;
}

.container {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #0c9;
  width: 100%;
  height: 50px;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

.navbar-btn {
  display: inline-block;
  font-size: 1.5em;
  padding: 5px 15px;
}

.navbar-link, .navbar-link:visited {
  text-decoration: none;
  color: #fff;
}

.navbar-link:hover{
  color: #f47d42;
}

@media (max-width: 950px) {

  .navbar-btn {
    font-size: 1.2em;
    padding: 0px 10px;
  }

}

@media (max-width: 440px) {

  .navbar {
    width: 100vw;
  }

  .navbar-list {
    justify-content: space-around;
  }

  .navbar-btn {
    padding: 0 5px;
  }
}

.section {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about {
  padding-top: 50px;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about-head-wrapper {
  display: flex;
  max-width: 80vw;
  align-items: center;
}

.about-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.about-main-img {
  display: block;
  max-height: 26vw;
  max-width: 20vw;
  width: auto;
  height: auto;
  border-radius: 30px;
  margin: 0 40px;
}

.about-main-p {
  display: block;
  width: 50vw;
}

.btn-scroll {
  border: none;
  background: inherit;
  font-size: 4em;
  outline: none;
  margin-bottom: 20px;
}

.btn-scroll:hover{
  color: #f47d42;
}

@media (min-width: 900px) {
  .about-head-wrapper {
    margin-top: 80px;
  }
}

@media (max-width: 900px) {

  .about-head {
    font-size: 1em;
    width: 40vw;
    margin-right: 30px;
  }

  .about-main-p {
    width: 80vw;
  }

}

@media (max-width: 440px) {

  .about-main-p {
    font-size: .9em;
  }

  .btn-scroll {
    font-size: 2.5em;
  }

  .about-main-img {
    border-radius: 10px;
    max-width: 30vw;
    max-height: 39vw;
  }

  .about-head-wrapper {
    margin: 10px 0px;
  }
}

.skills-head {
  font-size: 4em;
  padding-top: 5vh;
}

.skills {
  background: #0c9;
  color: white;
}

.skills-wrapper {
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.skills-list {
  list-style: none;
}

.skill {
  margin: 20px;
}

.skill-icon {
  font-size: 2em;
  margin: 5px;
}

.skills-scroll {
  color: white;
}

@media (max-width: 900px) {

  .skills-head {
    font-size: 2.5em;
  }

  .skills-wrapper {
    font-size: 1.3em;
  }

  .skill-icon {
    font-size: 1.3em;
  }
}

@media (max-width: 440px) {

  .skills-head {
    font-size: 1.8em;
  }

  .skills-wrapper {
    font-size: 1.1em;
  }

  .skill {
    margin: 10px;
  }

}

.projects {
  background-color: #e2e2e2;
}

.projects-head {
  font-size: 2em;
}

.projects-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.project {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 23vw;
  height: 50vh;
  margin: 0 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  font-size: .9em;
  padding: 8px;
  background-color: #efefef;
}

.project-link {
  text-align: center;
}

.project-thumbnail {
  display: block;
  max-width: 20vw;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1.5;
}

.project-p {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.btn-scroll-horiz {
  margin: 0 15px;
}

.projects-scroll-indicator {
  margin: -5vh 0 0 0;
}

.tick {
  margin: 0 5px;
  color: gray;
}

@media (max-width: 980px) {

  .project {
    width: 50vw;
  }

  .project-thumbnail {
    max-width: 45vw;
  }
}

@media (max-width: 440px) {

  .projects-head {
    font-size: 1.5em;
  }

  .project {
    height: 65vh;
    width: 60vw;
  }

  .project-thumbnail {
    max-width: 58vw;
  }

  .btn-scroll-horiz {
    font-size: 1em;
    margin: 0;
  }

  .projects-scroll-indicator {
    margin-top: 0;
  }

}

.contact {
  background: #0c9;
  color: white;
}

.contact-head {
  font-size: 2em;
  margin-bottom: -20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  height: 40vh;
}

.form-field {
  width: 50vw;
  outline: none;
  border: none;
  margin: 15px 0;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15em;
}

.form-field:focus{
  border: 3px solid #f47d42;
  margin: 12px -3px;
}

.field-short {
  height: 25px;
}

.form-message {
  flex-grow: 1;
  resize: none;
}

.form-submit {
  margin-top: 10px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #f47d42;
  color: white;
  font-size: 1.15em;
}

.form-submit:hover {
  background-color: white;
  color: #f47d42;
}

.contact-links {
  height: 10vh;
  font-size: 3em;
}

.contact-links > a {
  color: white;
  margin: 0 5px;
}

.contact-links > a:hover {
  color: #f47d42;
}

@media (max-width: 700px) {

  .contact-form {
    height: 60vh;
  }
}

@media (max-width: 440px) {

  .form-field {
    width: 70vw;
    margin: 5px 0;
    padding: 3px;
    font-size: 1em;
  }

  .contact-links {
    font-size: 1.8em;
  }
}
