body {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  background: #99ccff;
  color: #333333;
}

.container {
  overflow: hidden;
}

.splash {
  margin: 100px 0 50px 5% ;
}

.search {
  font-size: 2em;
  text-align: center;
  padding-bottom: 100px;
}

.searchForm {
  display: inline;
}

.searchBox {
  border: 0;
  border-bottom: 5px solid;
  margin: 0;
  padding: 0;
  background: inherit;
  font-size: .5em;
  color: #333333;
  font-family: inherit;
  width: 500px;
  height: 80px;
}

input:focus {
  outline: none;
}

.randomBox {
  text-align: center;
  position: relative;
}

.expandLink {
  transition: all .5s ease;
  font-size: .5em;
}

.expandLink:link, .expandLink:visited {
  color: #333333;
  text-decoration: none;
}

.expandLink:hover {
  font-size: .6em;
}

.searchButton {
  background: url(http://findicons.com/files/icons/2771/batch/64/search.png) no-repeat;
  background-position: center;
  border: none;
  height: 80px;
  width: 80px;
  margin: 0 0 0 -23px;
  transition: all .5s ease;
  outline: none;
}

.searchButton:hover {
  transform:scale(1.25);
}

.resultContainer {
  display: none;
  width: 1000px;
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-left: 20px solid #333333;
  font-size: .5em;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#resultHead {
  font-weight: 700;
  font-size: 4em;
  padding: 20px 0 20px 30px;
}

.result {
  border: 1px solid #333333;
  border-radius: 10px;
  margin: 15px 10px;
  padding: 5px;
}

.result header {
  font-weight: 600;
  font-size: 1.2em;
}

#resultFoot {
  font-weight: 700;
  font-size: 4em;
  padding: 20px 20px 20px 30px;
  text-align: right;
}

@media (max-width: 600px) {

  .container {
    width: 350px;
    font-size: .4em;
  }

  .splash {
    margin: 5px 0 100px 0;
  }

  .searchBox {
    width: 130px;
    height: 35px;
    border-bottom: 2px solid #333333;
    border-radius: 0;
    margin-bottom: 150px;
  }

  .searchButton {
    background-size: 30px;
    height: 30px;
    width: 30px;
    margin: 0;
    display: inline;
  }

  .randomBox {
    text-align: center;
  }

  .resultContainer {
    width: 350px;
    border: none;
    font-size: 1.2em;
  }

  .result a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  #resultHead {
    font-size: 35px;
  }
}
